.footer {
    padding-top: 70px;
    padding-bottom: 47px;
    background-color: #121212;
    background-image: url("./img/footer.svg");
    background-repeat: no-repeat;
    background-position: left;

    &__content {

        &-wrapper {
            width: 100%;
            max-width: 646.65px;
        }

        display: flex;
        flex-direction: column;

        align-items: flex-end;
        justify-content: flex-start;

        &-text {
            max-width: 551px;

            &__title {
                font-weight: 700;
                font-size: 32px;
                line-height: 55px;
            }

            &__descr {
                margin-top: 35px;
                font-weight: 400;
                font-size: 16px;
                line-height: 170%;
            }
        }

        &-form {
            margin-top: 44px;
        }
    }


}

@media screen and (max-width: 1324px) {
    .footer {
        position: relative;
        z-index: -1;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -1;
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 998px) {
    .footer__content {
        align-items: center;
    }

    .form__label {
        align-self: center;
        margin-right: 0;
    }

    .footer__content-text__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 420px) {
    .footer__content-text__title {
        font-size: 23px;
    }

    .footer__content-text__descr {
        font-size: 14px;
    }
}