.footer {
    margin-top: 199px;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    &__img {
        display: block;
        width: 832px;
        height: 688px;
    }

    &__content {
        width: 100%;
        max-width: 646.65px;
        margin-top: 65px;

        &-text {
            max-width: 551px;

            &__title {
                font-weight: 700;
                font-size: 32px;
                line-height: 55px;
            }

            &__descr {
                margin-top: 35px;
                font-weight: 400;
                font-size: 16px;
                line-height: 170%;
            }
        }

        &-form {
            margin-top: 44px;
        }
    }
}