// $padding: 16px;
// $containerXS: 280px;
// $containerSM: 443px;
// $containerMD: 620px;
// $containerLG: 770px;
// $containerXL: 992px;
// $containerWidthLarge: 1079px;
$containerWidth: 1300px;

// $xs: 425px;
// $sm: 640px;
// $md: 768px;
// $lg: 1024px;
// $xl: 1280px;

// colors
$primary: #FFFFFF;
$secondary: rgba(255, 255, 255, 0.59);
$blue: #1378EF;



._container {
    width: $containerWidth;
    max-width: $containerWidth;
    margin: 0 auto;
}

.name {
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
}

.title {
    margin-top: 15px;
    font-weight: 700;
    font-size: 46px;
    line-height: 55px;
}

.overlay {
    width: $containerWidth;
    margin: 0 auto;
    border-left: 1px solid #383838;
    border-right: 1px solid #383838;
    position: relative;

    &::after {
        position: absolute;
        left: 33.3333333333333%;
        content: "";
        height: 100%;
        top: 0;
        z-index: -1;
        width: 1px;
        background: #383838;
    }

    &::before {
        position: absolute;
        right: 33.3333333333333%;
        content: "";
        height: 100%;
        top: 0;
        z-index: -1;
        width: 1px;
        background: #383838;
    }
}

.accordeon {
    width: 100%;
    flex-direction: column;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_active {
            display: flex;

            .accordeon__item-content__title {
                color: $blue;
            }

            .accordeon__item-content__descr {
                display: block;
            }

            .accordeon__item-arrow img {
                transform: rotate(-90deg);
            }
        }

        &-content {
            &__title {
                font-weight: 700;
                font-size: 28px;
                line-height: 55px;

            }

            &__descr {
                display: none;
                font-weight: 400;
                font-size: 16px;
                line-height: 170%;
            }
        }

        &-arrow {
            cursor: pointer;
        }
    }

    &__item:not(:first-child) {
        margin-top: 19px;
    }
}

.slider {
    display: flex;

    &__window {
        overflow: hidden;

        &-container {
            width: 860px;
            display: flex;
            transition: all 0.7s ease-in-out;
        }

        &-container>*:not(:last-child) {
            margin-right: 23px;
        }
    }

    &__item {
        flex-shrink: 0;
        max-width: 380px;
        max-height: 341px;
        background: rgba(24, 24, 24, 0.59);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 25px;

        &-content {
            max-width: 370px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-top: 10px;

            h3 {
                font-weight: 700;
                font-size: 20px;
                line-height: 170%;
            }

            p {
                margin-top: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 170%;
            }
        }

    }

    &__arrows {
        position: relative;
        margin-left: 100px;
        align-self: flex-end;

        width: 80px;
        height: 150px;

        display: flex;
        flex-direction: column;

        &-left {
            cursor: pointer;
            margin-top: 24px;
            margin-bottom: 44px;
            align-self: flex-end;
        }

        &-right {
            cursor: pointer;
            align-self: flex-start;
        }

        &-round {
            position: absolute;
            width: 70px;
            height: 70px;
            border-radius: 100%;
            background-color: $blue;
            z-index: -1;

            &_left {
                left: 0;
                top: 0;
            }

            &_right {
                bottom: 0;
                right: 0;
            }
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__input {
        color: $primary;
        min-height: 38px;
        background: transparent;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        border-bottom: 1px solid $primary;

        padding-bottom: 5px;
        margin-bottom: 20px;

        &_message {
            padding-bottom: 64px;
        }

        &_error {
            border-bottom: 1px solid red;
        }
    }

    &__input::placeholder {
        color: $primary;
    }

    &__label {
        margin-top: 50px;
        margin-right: 83px;
        align-self: flex-end;
        position: relative;
    }
}

.cursor {
    width: 10px;
    height: 10px;
    background: $blue;
    border-radius: 100%;
    position: fixed;
    z-index: 100;

    pointer-events: none;
    user-select: none;

    &_active {
        transform: scale(0);
    }
}

.follower {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    z-index: 100;
    border: 1px solid $blue;
    z-index: 100;

    transition: transform 0.5s ease;

    pointer-events: none;
    user-select: none;

    &_active {
        transform: scale(2);
        background: $blue;
        z-index: 0;
    }
}

.link {
    cursor: none !important;
}

.modal-wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);

    &_active {
        display: block;
    }
}

.modal {
    display: none;
    padding: 25px 0px;
    min-width: 350px;
    background: #1F1F1F;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &_active {
        display: block;
    }

    &__form-wrapper {
        display: block;
        margin: 0 auto;
        margin-top: 36px;
        max-width: 300px;
    }

    &__form {
        &-input {
            &_name {
                margin-bottom: 29px;
            }

            &_message {
                margin-bottom: 0px;
                padding-bottom: 50px;
            }
        }

        &-label {
            margin-top: 31px;
        }
    }
}

.krest {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(225deg);

    &__item {
        height: 2px;
        width: 20px;
        background-color: #fff;

        &_one {
            transform: rotate(90deg);
        }

        &_two {
            transform: translate(0, -50%);
        }
    }
}