.about {
    margin-top: 230px;

    &__titke {
        margin-top: 15px;
    }

    &__history {
        margin-top: 44px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &-item {
            flex-basis: 33.3333%;
            margin-bottom: 98px;

            h2 {
                font-weight: 700;
                font-size: 32px;
                line-height: 170%;
                border-bottom: 1px solid $primary;
                max-width: 72px;
            }

            p {
                margin-top: 21px;
                font-weight: 400;
                font-size: 16px;
                line-height: 170%;
            }

            display: flex;
            flex-direction: column;
        }
    }
}