.projects {
    margin-top: 51px;

    &__title {
        margin-top: 20px;
    }

    &__tabs {
        margin-top: 72px;
        display: flex;
        flex-wrap: wrap;

        &-item {
            cursor: pointer;
            margin-right: 50px;
            margin-bottom: 30px;

            font-weight: 400;
            font-size: 22px;
            line-height: 150%;
            color: $secondary;

            &_active {
                color: $primary;
                position: relative;

                &::after {
                    z-index: -1;
                    position: absolute;
                    content: "";
                    left: 0;
                    top: -50%;
                    width: 67px;
                    height: 67px;
                    background-color: $blue;
                    border-radius: 100%;
                }
            }
        }
    }

    &__content {
        &_active {
            display: flex;
        }

        margin-top: 7px;

        display: none;
        justify-content: flex-start;

        &-title {
            flex-basis: 50.333%;
            font-weight: 700;
            font-size: 28px;
            line-height: 55px;
        }
    }
}

@media screen and (max-width: 830px) {
    .projects__tabs {
        justify-content: center;
        align-items: center;
        gap: 20px;

        &-item {
            font-size: 18px;
            margin: 0;
        }
    }

    .projects__content-title {
        font-size: 22px;
    }

    .accordeon__item-content__title {
        font-size: 20px;
    }

    .accordeon__item-content__descr {
        font-size: 14px;
    }
}

@media screen and (max-width: 430px) {
    .accordeon__item-content__descr {
        max-width: 100px;
    }
}