.reviews {
    padding-bottom: 58px;
    padding-bottom: 254px;

    &__text {
        &-title {
            margin-top: 20px;
        }
    }

    &__slider {
        margin-top: 90px;
        max-width: 1043px;
    }
}